@import "mixins";

.admin-main {
  color: white;
}

.admin-form-wrapper {
  label {position: relative;display: table;
    > span {display: block;vertical-align: top;width: 400px;margin-bottom: 10px}
    + label {margin-top: 10px}
    &.required > span::after {content: "Required";font-size: 11px;padding: 0 5px;
      border-radius: 6px;background-color: darkgreen;margin-left: 10px}
    &.readonly > span::after {content: "Read Only";background-color: darkred}
  }
  .input-wrapper {position: relative;width: 400px}
  input:not([type=checkbox]), select, textarea {background-color: transparent;color: white;border: 1px solid white;
    border-radius: 6px;min-height: 26px;padding: 0 5px;width: 400px;
    &::placeholder {color: white;opacity: .6}
    &[readonly] {background-color: rgba(255, 255, 255, .4);border: none}
    &::-webkit-calendar-picker-indicator {position: absolute;left: 112px;width: 390px;opacity: 0}
    option, optgroup {background-color: #222;text-transform: capitalize}
    &:focus {outline: none}
  }
  select {text-transform: capitalize}
  textarea {resize: none;@include custom-scroll-bar(white);padding: 5px}
  input[type=checkbox] {appearance: none;background-color: transparent;padding: 0 10px;min-height: 26px;
    border-radius: 6px;border: 1px solid white;margin: 5px;transition: .3s ease-in-out;
    transition-property: background-color, color;cursor: pointer;color: white;font-weight: bold;line-height: 26px;
    &::after {content: attr(data-display)}
    &:checked {background-color: rgba(255, 255, 255, .4);border-color: $deep-purple}
    &:hover:not(:checked) {background-color: rgba(255, 255, 255, .1)}
  }

  .file-input-wrapper {display: inline-flex;align-items: center;margin-top: 20px;
    .file-name {font-size: 14px;margin-left: 15px;
      &::before {content: "📁";margin-right: 5px}
    }
    .file-button {border-radius: 6px;min-height: 26px;cursor: pointer;transition: background-color .3s ease-in-out;
      min-width: 100px;padding: 0 10px;font-weight: bold;background-color: transparent;display: inline-flex;
      align-items: center;justify-content: center;user-select: none;font-size: 13px;color: white;border: 1px solid;
      &:hover {background-color: rgba(255, 255, 255, .3)}
    }
  }

  .checkbox-wrapper {margin: 0 -5px -5px;display: inline-block;width: 400px}
  .form-row {display: flex;
    label + label {margin-top: 0;margin-left: 15px}
  }
  .form-inner {margin: 20px 0}
  .form-title {font-size: 18px;font-weight: 500;margin-bottom: 20px;
    .action {display: inline-block;text-decoration: underline}
    .title {font-style: italic;margin-left: 10px;
      &:empty:before {content: "Untitled";opacity: .3}
    }
  }
  button {appearance: none;border: none;border-radius: 6px;min-height: 26px;cursor: pointer;
    transition: background-color .3s ease-in-out;user-select: none;
    &[type=submit] {min-width: 100px;padding: 0 10px;color: #222;font-weight: bold;background-color: white;
      &:hover {background-color: rgba(255, 255, 255, .8)}
    }
    &.inner-button {position: absolute;right: 0;padding: 0 20px;font-weight: bold;color: white;
      background-color: transparent;
      &:hover {background-color: rgba(255, 255, 255, .3)}
    }
  }
  .tags-wrapper {display: inline-flex;flex-direction: column;
    .input-wrapper {margin-bottom: 10px}
  }
}

.list-item + .list-item {
  margin-top: 10px
}

.article-wrapper {@include restrict-width(600px);margin: 0;
  > * + * {margin-top: 15px}
}

code.code-snippet {font-size: 16px;padding: 40px 15px 25px;background-color: #2B2B2B;display: block;position: relative;
  font-family: monospace;color: #9876AA;
  * {font-family: monospace}
  .function, .selector, .tag {color: #FFC66D}
  .string {color: #6A8759}
  .number {color: #6897BB}
  .punctuation, .operator, .property, .attr-name, .class-name, .parameter {color: #A9B7C6}
  .keyword, .boolean, .semi-colon {color: #CC7832}
  .attr-value {color: #A5C261}
  &.language-css {color: #A5C261}
  &.language-html {color: #A9B7C6}
}

.code-wrapper {position: relative;overflow-y: hidden;height: 355px;transition: height .3s ease-in-out;
  max-width: 100%;background-color: #2B2B2B;border-radius: 10px;@include custom-scroll-bar(rgba(65, 88, 208, .5));
  .title-wrap {color: white;font-family: monospace;position: absolute;left: 15px;top: 10px;font-size: 12px;
    z-index: 1;display: flex;align-items: center;
    .language, .file-name {padding: 3px 5px;border-radius: 6px;background-color: darkgreen}
    .file-name {margin-left: 10px;background-color: dimgray}
    .github {display: flex;color: white;text-decoration: none;margin-left: auto;align-items: center;
      .icon-wrapper svg {height: 21px;margin-left: 10px;transition: fill .3s ease-in-out}
    }
  }
  button {height: 30px;position: absolute;bottom: 0;width: 100%;appearance: none;border: none;
    background-color: rgba(43, 43, 43, .8);color: white;cursor: pointer;
  }
}