@import "mixins";
@import "animation";

.app-card {background-color: $gray-light;border-radius: 10px;padding: 15px;display: block;
  position: relative;overflow: hidden;@include restrict-width(350px);
  color: $primary-color;transition: .3s linear;transition-property: background-color, color, box-shadow;
  .title {font-size: 20px;font-family: 'Merriweather', serif}
  .date {font-size: 14px;font-style: italic;margin: 5px 0}
  .description.minified {max-height: 60px;overflow-y: hidden;-webkit-mask-image: linear-gradient(black, transparent)}
  &:not(.contact-popup):hover {background-color: $gray-white;@include shadow-main;text-decoration: none}
  @media only screen and (max-width: 599px) {
    max-width: none;margin: 0 15px;
  }
  &:nth-of-type(odd) {background-color: $sticky-cyan}
  &:nth-of-type(even) {background-color: $sticky-pink-light}
}

.list-wrap {display: flex;flex-wrap: wrap;margin: 15px 0;gap: 5px 10px;
  .icon-wrapper {display: flex;align-items: center;transition: all .3s ease-in-out;
    @include increase-click-area(-10px);z-index: 1;filter: grayscale(1) contrast(0) brightness(.5);
    svg {height: 25px;min-width: 25px;position: relative;z-index: 1}
    &::after {content: " ";@include primary-color(background-color, .95);border-radius: 50%;opacity: 0;
      transition: opacity .3s ease-in-out}
    &:hover {transform: scale(1.2);z-index: 2;filter: none;
      svg {z-index: 10}
      &::after {opacity: 1}
    }
  }
  &.minified {gap: 0 7px;
    .icon-wrapper {pointer-events: none;
      svg {height: 20px;min-width: 20px}
    }
  }
  &.tags {
    li {background-color: rgba(255, 204, 112, .5) ;padding: 3px 7px;border-radius: 10px}
  }
}

.npm-counter {margin: 15px 0;text-decoration: none;font-style: italic;
  filter: grayscale(1) contrast(0) brightness(.5);transition: filter .3s ease-in-out;
  .icon-wrapper {margin-right: 10px}
  &:hover {filter: none;
    .icon-wrapper {filter: none}
  }
}

.content-card-popup {
  @include full-spread(fixed);max-width: none;width: 100%;background-color: white;z-index: 2
}

html.dark {
  .app-card {background-color: $gray-darker;color: $primary-color-dark;
    &:not(.contact-popup):hover {background-color: $gray-medium;box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.15)}
  }
  .list-wrap {
    .icon-wrapper {filter: grayscale(1) contrast(0) brightness(2)}
  }
}