@import "mixins";
@import "animation";

.app-card {background-color: rgba(255, 255, 255, .2);border-radius: 10px;@include restrict-width(350px);padding: 15px;
  cursor: pointer;@include break-inside(avoid);position: relative;overflow: hidden;
  color: $primary-color;transition: .3s linear;transition-property: background-color, box-shadow;
  .title {font-size: 20px;font-family: 'Merriweather', serif}
  .date {font-size: 14px;font-style: italic;margin: 5px 0}
  .description.minified {max-height: 60px;overflow-y: hidden;-webkit-mask-image: linear-gradient(black, transparent)}
  .tags-wrap {
    .tag {color: white;cursor: pointer;user-select: none;transition: all .3s ease-in-out;
      + .tag {margin-left: 10px;}
      &:hover {text-decoration: underline;background-color: $radiant-yellow;color: $deep-pink}
      &::selection, span::selection {background-color: $radiant-yellow;color: $deep-pink}
    }
  }
  .links-wrap {
    a {text-decoration: none}
  }
  &:not(.contact-popup):hover {background-color: rgba(255, 255, 255, .4);@include float-shadow}
  &.project-card {
    &.hide {opacity: 0;pointer-events: none;transition: opacity .3s ease-in-out;}
    &.expand {background-color: #E093B9;cursor: auto;overflow-y: scroll;padding: 0;@include float-shadow;margin-top: 80px;
      @include restrict-width($app-width-desktop);height: 684px;
      .project-head {display: flex;align-items: center;@include sticky;top: 0;background-color: #E093B9;
        padding: 10px 0;z-index: 2;box-shadow: 0 15px 21px -5px rgb(0, 0, 0, .3);
        .back-button {@include square(45px);margin-right: 10px}
      }
      .project-body {padding: 15px}
      .project-footer {@include sticky;bottom: 0;height: 65px;display: flex;align-items: center;padding: 0 15px;
        background-color: #E093B9;width: 100%;z-index: 2;box-shadow: 0 -15px 21px -5px rgb(0, 0, 0, .3)}
    }
    @media only screen and (max-width: 599px) {
      max-width: none;margin: 0 15px;
      &.expand {border-radius: 0;margin: 0;height: 100%}
    }
    @media only screen and (min-width: 600px) {
      @include custom-scroll-bar(rgba(255, 255, 255, .5));
    }
  }
}

.list-wrap {display: flex;flex-wrap: wrap;margin: 15px 0;gap: 5px 10px;
  .icon-wrapper {display: flex;align-items: center;transition: all .3s ease-in-out;
    @include increase-click-area(-10px);z-index: 1;filter: grayscale(1) contrast(0) brightness(.5);
    svg {height: 25px;min-width: 25px;position: relative;z-index: 1}
    &::after {content: " ";@include primary-color(background-color, .95);border-radius: 50%;opacity: 0;
      transition: opacity .3s ease-in-out}
    &:hover {transform: scale(1.2);z-index: 2;filter: none;
      svg {z-index: 10}
      &::after {opacity: 1}
    }
  }
  &.minified {gap: 0 7px;
    .icon-wrapper {pointer-events: none;
      svg {height: 20px;min-width: 20px}
    }
  }
  &.tags {
    li {background-color: rgba(255, 204, 112, .5) ;padding: 3px 7px;border-radius: 10px}
  }
}

.npm-counter {margin: 15px 0;text-decoration: none;font-style: italic;
  filter: grayscale(1) contrast(0) brightness(.5);transition: filter .3s ease-in-out;
  .icon-wrapper {margin-right: 10px}
  &:hover {filter: none;
    .icon-wrapper {filter: none}
  }
}

.content-card-popup {
  @include full-spread(fixed);max-width: none;width: 100%;background-color: white;z-index: 2
}