@import "mixins";
@import "animation";

.app-card {padding: 15px;display: block;position: relative;overflow: hidden;color: #272626;
  transition: 0.3s linear;transition-property: background-color, color, box-shadow;border-top: 1px solid;
  .title {font-size: 20px;@include font-merriweather}
  .date {font-size: 14px;font-style: italic;margin: 5px 0}
  .description {height: 60px;overflow-y: hidden;-webkit-mask-image: linear-gradient(black 0%, black 60%, transparent 100%)}
  &:hover {background-color: white;text-decoration: none}
}

.experience-card {
  .company {font-weight: normal;font-size: 16px;@include font-merriweather;margin-top: 5px}
  .logo {position: absolute;@include square(40px, 50px);top: 15px;right: 15px;pointer-events: none;
    background-repeat: no-repeat;background-position: top right}
}

.list-wrap {display: flex;flex-wrap: wrap;margin: 15px 0;gap: 5px 10px;position: relative;
  .icon-wrapper {display: flex;align-items: center;transition: all .3s ease-in-out;z-index: 1;
    filter: grayscale(1) contrast(0) brightness(.5);
    svg {height: 25px;min-width: 25px;position: relative;z-index: 1}
  }
  &.minified {gap: 0 7px;
    .icon-wrapper {pointer-events: none;
      svg {height: 20px;min-width: 20px}
    }
  }
  &.tags {
    li {background-color: rgba(255, 204, 112, .5) ;padding: 3px 7px;border-radius: 10px}
  }
  .active-wrapper {background-color: $gray-white;padding: 10px;z-index: 2;border-radius: 10px;@include shadow-main;top: 0;
    transform: translateX(calc(-50% + 12.5px));
    .icon-wrapper {filter: none;flex-direction: column;margin-bottom: 10px;cursor: auto;
      svg {height: 40px;max-width: 40px}
      &::after {content: attr(data-title);font-weight: 800;margin-top: 5px;font-size: 16px;@include font-merriweather}
    }
    li {display: flex;flex-direction: column;align-items: center;
      .list-button {border: none;padding: 10px 15px;font-size: 16px;text-align: center;width: 100%;border-radius: 3em;
        background-color: $links-dark;color: white;
      }
      + li {margin-top: 10px}
    }
    .education:first-child::before {content: "Studied in..."}
    .experience:first-of-type::before {content: "Working Experience"}
    .project:first-child::before {content: "Did these projects"}
  }
}

.npm-counter {margin: 15px 0;text-decoration: none;font-style: italic;
  filter: grayscale(1) contrast(0) brightness(.5);transition: filter .3s ease-in-out;
  .icon-wrapper {margin-right: 10px}
  &:hover {filter: none;
    .icon-wrapper {filter: none}
  }
}

.content-card-popup {
  @include full-spread(fixed);max-width: none;width: 100%;background-color: white;z-index: 2
}

html.dark {
  .app-card {background-color: $gray-darker;color: $primary-color-dark;
    &:not(.contact-popup):hover {background-color: $gray-medium;box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.15)}
  }
  .list-wrap {
    .icon-wrapper {filter: grayscale(1) contrast(0) brightness(2)}
  }
}