@import "mixins";
@import "animation";

body {
  @include linear-gradient(#4158D0, 43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);background-repeat: no-repeat;
  overflow-y: scroll;min-height: 100vh;
  &.admin {@include linear-gradient(#444, 43deg, #444 0%, #333 46%, #222 100%)}
  &.disable-scroll {overflow: hidden;padding-right: 17px}
}

section {@include restrict-width($app-width-desktop);margin: auto;padding: 20px 0;animation: fade-in .3s ease-in;
  article {
    > h2 {font-family: 'Merriweather', serif;font-size: 30px;margin-bottom: 15px;}
    + article {margin-top: 20px}
  }
}

.dev-wrapper {columns: 3;column-gap: 15px;}

.icon-wrapper {cursor: pointer;//filter: grayscale(1) contrast(0) brightness(.5);
  svg {
    height: 30px;
    .icon-shade {filter: brightness(.7)}
    .icon-highlight {filter: brightness(1.3)}
    .icon-invert {filter: invert(0.8)}
  }
  //&:hover {filter: none}
}