@mixin inset($top, $right: $top, $bottom: $top, $left: $right) {
  top: $top;right: $right;bottom: $bottom;left: $left
}

@mixin full-spread($position: absolute, $offset: 0) {
  position: $position;@include inset($offset);
}

@mixin flex-centered($direction: row) {
  display: flex;flex-direction: $direction;align-items: center;justify-content: center;
}

@mixin restrict-width($restriction, $width: 100%) {
  width: $width;max-width: $restriction;
}

@mixin square($height, $width: $height) {
  height: $height;width: $width;
}

@mixin circle($size) {
  @include square($size);border-radius: 50%;
}

@mixin float-shadow {box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5)}

@mixin shadow-main {box-shadow: 0 0 20px 5px rgba(0,0,0,0.3)}

@mixin linear-gradient($fallback, $params...) {
  background-color: $fallback;background: -webkit-linear-gradient($params);background: linear-gradient($params);
}

@mixin sticky {position: -webkit-sticky;position: sticky}

@mixin break-inside($value) {-webkit-column-break-inside: $value;page-break-inside: $value;break-inside: $value}

@mixin height($height, $min-height: 0, $max-height: none) {
  height: $height;min-height: $min-height;max-height: $max-height;
}

@mixin width($width, $min-width: 0, $max-width: none) {
  width: $width;min-width: $min-width;max-width: $max-width;
}

@mixin increase-click-area($offset: -10px, $position: relative) {
  position: $position;
  &::after {content: " ";@include full-spread(absolute, $offset);background-color: transparent}
}

@mixin custom-scroll-bar($color) {
  &::-webkit-scrollbar {@include square(6px)}
  &::-webkit-scrollbar-thumb {background-color: $color}
  &::-webkit-scrollbar-button {opacity: 0}
}

@mixin primary-color($property, $alpha: 1) {
  $property: rgba(49, 49, 49, $alpha);
}

@mixin font-merriweather() {
  font-family: 'Merriweather', serif;
}

$app-width-desktop: 1080px;

$deep-purple: #4158d0;
$deep-pink: #c850c0;
$radiant-yellow: #ffcc70;

$gray-white: #F4F4F4;
$gray-light: #B7B7B7;
$gray-medium: #7F7F7F;
$gray-dark: #636363;
$gray-darker: #515050;
$gray-darkest: #434342;
$gray-black: #272626;

$primary-color: $gray-black;
$primary-color-dark: white;

$sticky-yellow: #FEF64F;
$sticky-yellow-light: #FEFFA0;
$sticky-cyan: #7FFCFE;
$sticky-pink: #FD64A3;
$sticky-pink-light: #FD7EB9;

$links-light: #C2D4F0;
$links-dark: #495E81;

$link-color: $radiant-yellow;