@import "mixins";
@import "animation";

.app-overlay {@include full-spread(fixed);z-index: 5;opacity: 0;transition: opacity .3s linear;pointer-events: none;
  &.is-open {opacity: 1;pointer-events: auto}
  &:not(.transparent) {backdrop-filter: blur(5px) brightness(0.4)}
}

.app-popup {background-color: rgba(255, 255, 255, 0.5);box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);color: $primary-color;
  @include restrict-width(420px);text-align: center;
  h2 {font-family: 'Merriweather', serif;font-size: 22px}
}

.contact-popup {cursor: auto;
  .message-wrap {
    input, textarea {display: block;width: 100%;border-radius: 10px;border: 1px solid $primary-color;
      outline: none;min-height: 40px;background-color: transparent;color: $primary-color;margin-top: 20px;
      padding: 15px 10px 10px;resize: none;font-size: 15px;font-weight: 600;transition: background-color .3s ease-in-out;
      &::placeholder {color: $primary-color;opacity: .6;font-style: italic}
      &:not(:placeholder-shown), &:focus {background-color: rgba(255, 255, 255, .1)}
    }
    label {position: relative;display: block;
      &::before {content: attr(data-placeholder);position: absolute;top: 2px;left: 10px;font-size: 12px;font-weight: bold;
        color: $primary-color;transition: color .3s ease-in-out}
      &.error {
        input, textarea {border-color: #5B2828;background-color: rgba(255, 0, 0, .1)}
        &::before {content: attr(data-error);color: #5B2828}
      }
    }
    .form-footer {margin-top: 20px;
      button {appearance: none;border: none;height: 40px;flex: 1;cursor: pointer;font-size: 16px;
        font-weight: 500;border-radius: 10px;transition: .3s ease-in-out;color: white;user-select: none;
        transition-property: background-color, opacity;background-color: rgba(49, 49, 49, .75);
        + button {margin-left: 15px}
        &:disabled {opacity: .4;pointer-events: none}
        &:hover {background-color: rgba(49, 49, 49, 1)}
      }
    }
    a.dismiss {margin-top: 20px;display: inline-block;font-size: 14px;}
  }
}

.content-popup {position: fixed;top: 77px;height: 684px;border-radius: 10px;width: 1080px;max-width: none;
  background-color: #E093B9;
}

.app-overlay.is-open {
  .content-popup {animation: scale-in-card 0.7s ease-in}
}